<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sttri.dao.FileMapper" >
  <resultMap id="BaseResultMap" type="com.sttri.entity.File" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Uid" property="uid" jdbcType="INTEGER" />
    <result column="FileName" property="filename" jdbcType="VARCHAR" />
    <result column="FilePath" property="filepath" jdbcType="VARCHAR" />
    <result column="Flag" property="flag" jdbcType="INTEGER" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="Subject" property="subject" jdbcType="VARCHAR" />
    <result column="Summary" property="summary" jdbcType="VARCHAR" />
    <result column="Praises" property="praises" jdbcType="INTEGER" />
    <result column="ForbiddenPic" property="forbiddenpic" jdbcType="VARCHAR" />
    <result column="UploadTime" property="uploadtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, Uid, FileName, FilePath, Flag, Status, Subject, Summary, Praises, ForbiddenPic, 
    UploadTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sttri.entity.FileCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from file
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from file
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sttri.entity.FileCriteria" >
    delete from file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sttri.entity.File" >
    insert into file (ID, Uid, FileName, 
      FilePath, Flag, Status, 
      Subject, Summary, Praises, 
      ForbiddenPic, UploadTime)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, 
      #{filepath,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{subject,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{praises,jdbcType=INTEGER}, 
      #{forbiddenpic,jdbcType=VARCHAR}, #{uploadtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sttri.entity.File" >
    insert into file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="uid != null" >
        Uid,
      </if>
      <if test="filename != null" >
        FileName,
      </if>
      <if test="filepath != null" >
        FilePath,
      </if>
      <if test="flag != null" >
        Flag,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="subject != null" >
        Subject,
      </if>
      <if test="summary != null" >
        Summary,
      </if>
      <if test="praises != null" >
        Praises,
      </if>
      <if test="forbiddenpic != null" >
        ForbiddenPic,
      </if>
      <if test="uploadtime != null" >
        UploadTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="praises != null" >
        #{praises,jdbcType=INTEGER},
      </if>
      <if test="forbiddenpic != null" >
        #{forbiddenpic,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sttri.entity.FileCriteria" resultType="java.lang.Integer" >
    select count(*) from file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update file
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        Uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.filename != null" >
        FileName = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.filepath != null" >
        FilePath = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        Flag = #{record.flag,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.subject != null" >
        Subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.summary != null" >
        Summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.praises != null" >
        Praises = #{record.praises,jdbcType=INTEGER},
      </if>
      <if test="record.forbiddenpic != null" >
        ForbiddenPic = #{record.forbiddenpic,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadtime != null" >
        UploadTime = #{record.uploadtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update file
    set ID = #{record.id,jdbcType=INTEGER},
      Uid = #{record.uid,jdbcType=INTEGER},
      FileName = #{record.filename,jdbcType=VARCHAR},
      FilePath = #{record.filepath,jdbcType=VARCHAR},
      Flag = #{record.flag,jdbcType=INTEGER},
      Status = #{record.status,jdbcType=INTEGER},
      Subject = #{record.subject,jdbcType=VARCHAR},
      Summary = #{record.summary,jdbcType=VARCHAR},
      Praises = #{record.praises,jdbcType=INTEGER},
      ForbiddenPic = #{record.forbiddenpic,jdbcType=VARCHAR},
      UploadTime = #{record.uploadtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sttri.entity.File" >
    update file
    <set >
      <if test="uid != null" >
        Uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="filename != null" >
        FileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        FilePath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        Flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        Subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        Summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="praises != null" >
        Praises = #{praises,jdbcType=INTEGER},
      </if>
      <if test="forbiddenpic != null" >
        ForbiddenPic = #{forbiddenpic,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        UploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sttri.entity.File" >
    update file
    set Uid = #{uid,jdbcType=INTEGER},
      FileName = #{filename,jdbcType=VARCHAR},
      FilePath = #{filepath,jdbcType=VARCHAR},
      Flag = #{flag,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER},
      Subject = #{subject,jdbcType=VARCHAR},
      Summary = #{summary,jdbcType=VARCHAR},
      Praises = #{praises,jdbcType=INTEGER},
      ForbiddenPic = #{forbiddenpic,jdbcType=VARCHAR},
      UploadTime = #{uploadtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>